@page
@model MyApp.Namespace.formularioModel
@{
     ViewData["Title"] = "Formulario";
}




<form method="post" asp-page-handler="formulario" >
     <label asp-for="producto" class="form-label">Producto</label>
     <input asp-for="producto" class="form-control"/>
     <label asp-for="cantidad" class="form-label">Cantidad</label>
     <input asp-for="cantidad" class="form-control" type="number" min=0 />
     <label asp-for="precio" class="form-label">Precio</label>
     <input asp-for="precio" class="form-control" type="number" min=0/>
     <button type="submit" class="btn btn-primary"> Calcular </button>
<p> @Model.total </p>
</form>   





